
# Pipeline: fastqc, trim, bismark (align and methylation)
## Data filepaths
export DATADIR=/lustre/projects/Research_Project-MRC148213/lsl693/rrbs_ad_mice/RRBS/rTg4510

export sampleName=2605
export TRIMDIR=${DATADIR}/2_trimmed/
export ALIGNDIR=${DATADIR}/3_bismark

## Software/script filepaths  
export MINIMAP2=/lustre/projects/Research_Project-MRC148213/lsl693/software/minimap2-2.28_x64-linux
export PATH=$PATH:${MINIMAP2}

# note: unable to download and install bowtie2; error with make
# therefore using pre-installed Bowtie2 from ISCA
export BOWTIE2=/gpfs/ts0/shared/software/Bowtie2/2.4.5-GCC-11.3.0/bin/
export PATH=$PATH:$BOWTIE2

# Bismark
export PATH=$PATH:/lustre/projects/Research_Project-MRC148213/lsl693/software/Bismark-0.24.2


## References
export REFPATH=/lustre/projects/Research_Project-MRC148213/lsl693/rrbs_ad_mice/0_utils
export REFGENOME=${REFPATH}/mm10.fa
